<html>
    <head>
        <title>| Show and Tell - Home |</title>
    </head>
    <body>
       <!-- When the user is logged in, he should be welcomed personally -->
       <!-- His username should be filled in automatically in 'Welcome DUMMYUSERNAME' -->
        <label>Welcome, DUMMYUSERNAME</label><br />
        <!-- When the user is logged in, there should be an API call checking to what APIKeys this username is related -->
        <!-- When all the APIKeys are returned, we could list the projectnames by doing other API calls, converting the APIKeys to names -->
        <!-- This list should be generated automatically with a loop -->
        <label>Your projects:</label><br />
        <ul *ngFor="let project of listProjects | async">
            <li>
              <a (click)="projectClick(project.name)">{{project.name}} - (apikey: {{project.apikey}})</a>
              <input type="button" value="delete" (click)="deleteProjectClick(project)">
            </li>
        </ul>
        <label>Create a new project:</label><br />
        <form id="newProject">
            <label>Project name: </label><input type="text" #newProjectInput /><br />
            <input type="button" value="create project" (click)="createProjectClick(newProjectInput.value)"/>
        </form>
    </body>
</html>
