<html>
    <head>
        <title>| Show and Tell - DUMMYMEASUREMENTID |</title>
    </head>
    <body>
     <h3>Overview for measurement DUMMYMEASUREMENTID</h3>
      <!-- With an API call, containing the measurementID, all measured parameters should be listed here -->
      <!-- All side information of a measured parameter should also be listed so the user doesn't have to perform another click -->
       <ul>
           <li>DUMMYPARAMETER1<ul><li>DUMMYPARAMETER1.1</li><li>DUMMYPARAMETER1.2</li><li>DUMMYPARAMETER1.3</li></ul></li>
           <li>DUMMYPARAMETER2<ul><li>DUMMYPARAMETER2.1</li><li>DUMMYPARAMETER2.2</li><li>DUMMYPARAMETER2.3</li></ul></li>
           <li>DUMMYPARAMETER3<ul><li>DUMMYPARAMETER3.1</li><li>DUMMYPARAMETER3.2</li><li>DUMMYPARAMETER3.3</li></ul></li>
       </ul>
     <input type="submit" value="Go Back" (click)="goBackClick()" />
    </body>
</html>
