<html>
    <head>
       <!-- When being redirected from the home page to a particular project, the projectname should be displayed here -->
       <!-- The APIKey should also be provided for further use in this page because the APIKey is always unique and the project name is not-->
        <title>| Show and Tell - {{projectName}} |</title>
    </head>
    <body>

    <h3>Overview for project {{projectName}}:</h3>
       <!-- Using the APIKey, an API call can be made to find al the measuments, connected to this APIKey -->
       <!-- The API call will return all MeasurementID's, connected to that Key. -->
       <!-- Following list of ID's should be generated automatically with a loop -->
       <ul>
           <li><a (click)="measurementClick()">DUMMYMEASUREMENTID1</a></li>
           <li><a href="#">DUMMYMEASUREMENTID2</a></li>
           <li><a href="#">DUMMYMEASUREMENTID3</a></li>
       </ul>
       <!-- When another user should be able to see your project's data, you can add that user through his username -->
       <!-- When the submit button is pressed, a first API call should be made to check wether the username is valid -->
       <!-- If so, the APIKey of this project can be added to the other user's APIKeys after we checked that this user is not already a contributor to this project -->
       <!-- The user should get a popup that the user is added as contributor but the 'isOwner' variable should be set to false -->
       <!-- If not, the user should get an error message -->
       <form id="addContributor">
           <label>Enter username of contributor: </label><input type="text" /><br />
           <input type="button" value="Add contributor" />
       </form>
       <!-- If the user wants to delete a contributor, he should click the button next to the username he wants to delete -->
       <!-- With an API call, the pair of username + APIKey should be removed from the table -->
       <!-- This list should be generated automatically with an API call checking in the username + APIKey-table looking for all users that have this APIKey -->
       <!-- Only if the 'isOwner' field is set to true, and this username correspond to the username logged in, the delete buttons should show -->
       <ul>
           <li>DUMMYCONTRIBUTORUSERNAME1 <input type="button" value="Delete contributor" /></li>
           <li>DUMMYCONTRIBUTORUSERNAME2 <input type="button" value="Delete contributor" /></li>
           <li>DUMMYCONTRIBUTORUSERNAME3 <input type="button" value="Delete contributor" /></li>
       </ul>
       <input type="button" value="Go Back" (click)="goBackClick()" />
    </body>
</html>
